body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
}

#wave {
    width: 400px;
    height: 300px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}