 body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    display: block;
    justify-content: center;
    align-items: center;
 }

 .members {
    border: 1.6px solid white;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: lightcyan;
    max-width: 425px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 4px;
    color: gray;

 }

 footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 20px;
}